* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* TABLE OF CONTENTS: */

/* 1. Mobile text styles */
/* 2. Mobile layout */
/* 3. Mobile navigation formatting */
/* 4. Media queries for tablets */
/* 5. Desktop text styles */
/* 6. Desktop layout */

/* 1. Mobile text styles */

h1,
h2,
a,
p,
span,
label,
input,
textarea {
  font-family: Figtree;
  letter-spacing: 0.06rem;
}

a,
a:visited {
  color: black;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;  
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p,
a.button {
  font-size: 1.3rem;
}

label,
input {
  font-size: 1.1rem;
}

footer p {
  font-size: 1rem;
}

h2,
footer {
  text-align: center;
}

/* 2. Mobile layout */

body {
  margin-inline: 1rem;
}

.logoContainer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;  
  align-items: center;
}

.logo ion-icon {
  width: 2.2rem;
  height: 2.2rem;
  margin-inline: 0.5rem;
  transform: rotateY(180deg);
}

.hero {
  margin-top: 10rem;
}

section {
  margin-top: 4rem;
}

.techContainer {
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
  gap: 1rem;
}

.tech {
  background-color: black;
  width: 12rem;
  height: 12rem;
  border-radius: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tech ion-icon {
  color: white;
  width: 6rem;
  height: 6rem;
}

.tech span {
  color: white;
  font-size: 1.3rem;
}

.button {
  height: 5rem;
  border-radius: 1.5rem;
  border: black solid 1px;
  padding: 0.5rem;
}

.wrapperCV {
  padding-block: 1rem;
}

.techLabel,
.wrapperCV {
  text-align: center;
}

.card {
  border: black solid 1px;
  border-radius: 1rem;
  width: clamp(20rem, 90%, 30rem);
  height: 30rem;
  display: flex;
  justify-content: center;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.card .button {
  border-radius: 5rem;
  display: flex;
  align-items: center;
  margin: 0.5rem;
  padding: 1rem;
}

.card a {
  text-align: center;
}

.button ion-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

label {
  margin-top: 1rem;
}

fieldset {
  width: clamp(15rem, calc(100% - 3rem), 30rem);
  margin: 1rem auto;
  padding: 1.5rem;
  border-radius: 1rem;
}

#full-name,
#email-address,
#message {
  width: 100%;
  margin-bottom: 1rem;
}

.submit {
  margin-block: 0.5rem;
  text-align: center;
}

footer {
  background-color: black;
  color: white;
  width: max-content;
  height: 3rem;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  padding-inline: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 3. Mobile navigation formatting */

nav {
  background-color: white;
  position: absolute;
  text-align: left;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4rem 0 2rem 0;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav a {
  text-decoration: none;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav li {
  font-size: 1.3rem;
  padding: 1rem;
}

.navToggle:checked ~ nav {
  transform: scale(1, 1);
}

.navToggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

span.navButton {
  color: black;
}

.navToggle {
  display: none;
}

.navToggleLabel {
  position: absolute;
  top: -1rem;
  left: 0;
  margin-left: 1rem;
  height: 4rem;
  display: flex;
  align-items: center;
}

.navToggleLabel span,
.navToggleLabel span::before,
.navToggleLabel span::after {
  display: block;
  background: black;
  height: 3px;
  width: 2rem;
  position: relative;
}

.navToggleLabel span::before,
.navToggleLabel span::after {
  content: '';
  position: absolute;
}

.navToggleLabel span::before {
  bottom: 10px;
}

.navToggleLabel span::after {
  top: 10px;
}

/* 4. Media queries for tablets */

@media (min-width: 600px) {
  
  h1,
  p {
    margin: 0 auto;
  }

}

/* DESKTOP MEDIA QUERIES */

@media (min-width: 1200px) {

  /* 5. Desktop text styles */

  /* 6. Desktop layout */

  body {
    margin: 0;
    padding: 0;
  }

  section {
    margin-top: 8rem;
  }

  .submit {
    margin-bottom: 3rem;
  }

  footer {
    width: 100%;
    height: 8rem;
    margin: 0;
    padding: 0;
  }

  /* 7. Desktop navigation formatting */

  .navToggleLabel {
    display: none;
  }
  
  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .logoContainer {
    padding: 0;
    height: 3rem;
    grid-column: 1 / 2;    
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .logoContainer a {
    display: flex;
    justify-content: flex-start;
  }

  nav {
    height: 3rem;
    all: unset;
    grid-column: 2 / 3;
    display: flex;
    justify-content: flex-end;
  }

  nav ul {
    display: flex;
  }

  nav li {
    font-size: 1rem;
    margin-inline: 1.5rem;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: '';
    display: block;
    height: 3px;
    background: black; 
    position: absolute;
    top: -0.35rem;
    left: 0;
    right: 0; 
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }

  nav li {
    margin-left: 0;
    margin-right: 5rem;
    padding: 0;
  }

}

